body {
  margin: 0;
  padding: 0;
  background-color: white;
  color: black;
  position: relative;
}

/* Agrega margen superior al carrusel para separarlo de la barra de navegación */
#carouselAaron {
  margin-top: 50px;
  /* Ajusta este valor según tu preferencia */
}

/* Estilo adicional para la barra de navegación */
.navbar {
  margin-bottom: 20px;
  /* Agrega margen inferior a la barra de navegación */
}

.header-container {
  position: relative;
  margin-top: 120px;
}

.top-section {
  top: 0;
  left: 0;
  width: 100%;
  background-color: black;
  color: white;
  padding: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1000;
}

.top-section img {
  width: 100px;
  height: auto;
}

.carousel-item {
  height: 85vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  /* Agrega posicionamiento relativo */
}

.carousel-content {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.carousel-content img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.carousel-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.plan-container {
  text-align: center;
  margin-top: 50px;
  background-color: white;
  z-index: 1;
  padding: 20px;
}


.carousel-caption * {
  color: white;
}

ul li a {
  text-decoration: none;
}

/* Botones personalizados */
.custom-button {
  text-decoration: none;
  background: rgb(41, 39, 39);
  color: #ffffff;
  cursor: pointer;
  font-size: 1em;
  padding: 1em;
  transition: all 0.5s;
  border-radius: 10px;
  position: relative;
}

.custom-button::after {
  font-family: "FontAwesome";
  content: "\f0da";
  position: absolute;
  left: 85%;
  top: 31%;
  right: 5%;
}

.custom-button:hover {
  background: #2b2bff;
  transition: all 0.5s;
  border-radius: 10px;
  box-shadow: 0px 6px 15px #0000ff61;
  padding: 1.5rem 3.5rem 1.5rem 1.5rem;
}

.custom-button:hover::after {
  opacity: 1;
  transition: all 0.5s;
}

/* Estilos para el texto adicional */
.additional-text {
  color: black;
  font-size: 24px;
  margin-top: 30px;
  text-align: center;
}

.points-list {
  text-align: center;
  /* Centrar los puntos */
  font-size: 20px;
  margin-top: 0;
  /* Ajustar el margen superior */
  margin-bottom: 30px;
  /* Agregar margen inferior */
  padding-inline-start: 0;
  /* Eliminar el padding del ul */
}

.points-list li {
  margin-bottom: 10px;
  list-style: none;
}
.slide-container {
  position: relative;
}

.slide-text {
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 20px;
}


/*Codigo CSS para la parte de enlaces a redes sociales*/
#socialMedia {
  display: flex;
  justify-content: center;
  align-items: center;
}

#socialMedia ul {
  list-style: none;
  display: flex;
  gap: 10px;
  /* Espacio entre los íconos */
}

#socialMedia ul li {
  position: relative;
  list-style: none;
  margin: 0 20px;
}

#socialMedia ul li a .fa-brands {
  font-size: 5em;
  color: #8a8a8a;
}

#socialMedia ul li a::before {
  font-family: "FontAwesome";
  position: absolute;
  top: 0;
  left: 0;
  font-size: 5em;
  height: 0;
  overflow: hidden;
  transition: 0.5s ease-in-out;
}

#socialMedia ul li:nth-child(1) a::before {
  content: "\f16d";
  background-image: linear-gradient(45deg,
      #f09433 0%,
      #e6683c 25%,
      #dc2743 50%,
      #cc2366 75%,
      #bc1888 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-bottom: 4px solid #dc2743;
}

#socialMedia ul li:nth-child(2) a::before {
  content: "\f232";
  color: #25d366;
  border-bottom: 4px solid #25d366;
}

#socialMedia ul li:nth-child(3) a::before {
  content: "\f0e1";
  color: #1da1f2;
  border-bottom: 4px solid #1da1f2;
}

#socialMedia ul li:hover a::before {
  top: -20px;
  height: 130%;
}